<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.easyarch.myutils.test.dao.UserMapper">

    <select id="findById" resultType="org.easyarch.myutils.test.pojo.User" >
        select * from user where client_id = #{id}
    </select>

</mapper>  